@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #2f3138;
  font-family: "Lexend Deca", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #412c76;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
}
h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
}
h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
}

.main-page {
  margin-top: 70px;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.html") no-repeat center center;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #46b5ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2c99e1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Sections Header
--------------------------------*/
.section-main-header {
  margin-bottom: 60px;
  position: relative;
}

.section-main-header h2 {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #343f52;
  opacity: 0.9;
}

@media (max-width: 992px) {
  .section-main-header h2 {
    font-size: 100px;
  }
}

@media (max-width: 550px) {
  .section-main-header h2 {
    font-size: 80px;
  }
}

.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

.section-header_sub h6 {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.4em;
  color: #47b5ff;
}

.section-header_sub span {
  background: #dff6ff;
  border-radius: 6px;
  padding: 6px 6px 6px 6px;
  color: #256d85;
}
/* #D24B5A
#2b4e86
#6885b1 */
section .row {
  max-width: 1280px;
  margin: auto;
}
.section_spacing {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#main_tag {
  margin-top: 75px;
}
#main_tag .container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}
@media (max-width: 991px) {
  .section_spacing {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /* height: 90px; */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
}
#header .container {
  max-width: 1280px;
  margin: auto;
  width: 90%;
}
#header.header-scrolled,
#header.header-inner {
  /* background: rgb(6 40 61); */
  /* height: 70px; */
  box-shadow: 0px 0px 1.5965277777777778vw 0px rgba(0, 0, 0, 0.09);
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 span {
  color: #f82249;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 100%;
  transition: all 0.5s;
  max-width: 170px;
}
#header.header-scrolled #logo img {
  width: 70%;
  transition: all 0.5s;
}
#header .nav_wrapper {
  width: 100%;
}

@media (max-width: 991px) {
  #header .nav_wrapper {
    width: auto;
  }
  #header.header-scrolled #logo img{
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Buy Tickets
--------------------------------------------------------------*/
.buy-tickets {
  color: #06283d;
  background: #ffd747;
  padding: 10px 22px;
  margin: 0 0 0 15px;
  border-radius: 50px;
  border: 2px solid #ffd747;
  transition: all ease-in-out 0.3s;
  font-weight: bold;
  line-height: 1;
  font-size: 13px;
  white-space: nowrap;
}

.buy-tickets:hover {
  background: none;
  color: #fff;
}

.buy-tickets:focus {
  color: #fff;
}

@media (max-width: 992px) {
  .buy-tickets {
    margin: 0 15px 0 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 0px 15px 0px 15px;
}

.navbar .nav-link,
.navbar .nav-link:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2b4e86;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  padding: 6px 4px;
  cursor: pointer;
}

.navbar .nav-link i,
.navbar .nav-link:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > .nav-link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 10px;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
  background-color: #2b4e86;
}

.navbar .nav-link:hover:before,
.navbar li:hover > .nav-link:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}

.navbar .nav-link:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > .nav-link {
  color: #2b4e86;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul .nav-link {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #060c22;
}

.navbar .dropdown ul .nav-link i {
  font-size: 12px;
}


.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #2b4e86;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  margin-left: 10px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(0 123 255 / 27%);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 10px 0;
  background-color: rgb(6 40 61);
  transition: 0.4s;
  width: 365px;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile .nav-link:hover:before,
.navbar-mobile li:hover > .nav-link:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile .nav-link,
.navbar-mobile .nav-link:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}

.navbar-mobile .nav-link:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > .nav-link {
  color: #46b5ff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul .nav-link {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul .nav-link i {
  font-size: 12px;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.mainMenu{
  position: relative;
}
.mainMenu .subMenu{
  opacity: 0;
  position: absolute;
  /* display: block; */
  flex-direction: column;
  /* z-index: 99999; */
  background: #fff;
  justify-content: start;
  align-items: self-start;
  padding: 16px 8px;
  border-radius: 6px;
  transform: translate(0%, -100%);
  z-index: -999;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.mainMenu .mainItem:hover .subMenu{
  opacity: 1;
  transform: translate(0%, 0%);
  z-index: 9;
}
.mainMenu .subMenu .subItem{
  border-radius: 6px;
  width: 100%;
  margin-bottom: 4px;
}
.mainMenu .subMenu .subItem .nav-link{
  padding: 8px;
}
.mainMenu .subMenu .subItem:hover{
  background: #2b4e86;
}
.mainMenu .subMenu .subItem:hover .nav-link{
  color: #fff;
}
@media (max-width:991px) {
  .mainMenu .subMenu{
    position: relative;
    opacity: 1;
    transform: translate(0%, 0%);
    z-index: 99;
    background: transparent;
    box-shadow: unset;
    padding: 0px 16px 0 32px;
  }
}
.Book-btn {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 16px;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background-color: #2b4e86;
  display: block;
}
.Book-btn-outline {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 16px;
  border-radius: 8px;
  transition: 0.5s;

  color: #06283d;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background-color: #fff;
  border: 2px solid #06283d;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#Contact {
  /* background: linear-gradient(180.05deg, #06283D 0.04%, rgba(20, 60, 88, 0.79) 99.95%); */
  background-image: url(../img/contact/con-2.png);
  overflow: hidden;
  padding: 80px 0 0px 0;
  color: #eee;
  font-size: 14px;
  position: relative;
}

#Contact::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /* background-image: url(../img/contact/cont-1.png); */
  /* opacity: .5; */
  background: linear-gradient(
    180.05deg,
    #06283d 0.04%,
    rgba(20, 60, 88, 0.79) 99.95%
  );
}

#Contact .section-main-header {
  margin-top: -32px;
  margin-bottom: 10px;
}

#Contact .section-main-header h2 {
  color: #ffffff;
  opacity: 0.05;
}

#Contact .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer-top {
  padding-bottom: 30px;
}

#Contact .footer-top .footer-info img {
  height: 80px;
  margin-bottom: 10px;
}

#Contact .footer-top .footer-info p {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14.5px;
  line-height: 29px;
  color: #ffffff;
}
footer .container {
  max-width: 1280px;
  margin: auto;
  width: 90%;
}
footer .container .row {
  max-width: 1280px;
  margin: auto;
}
.footer-contact h2 {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  color: #ffffff;
}

.footer-contact .contact_info_box {
  position: relative;
  padding: 10px;
  padding-left: 45px;
  margin-bottom: 15px;
}

.footer-contact .contact_info_box img {
  width: 24px;
  position: absolute;
  top: 10px;
  left: 6px;
}

.footer-contact .contact_info_box h5 {
  margin-bottom: 5px;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.footer-contact .contact_info_box p {
  margin: 0px;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.copyright_box {
  border-top: 1px solid rgb(221 221 221 / 43%);
  position: relative;
}

.copyright {
  padding: 30px 0px 5px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  text-align: center;

  color: #ffffff;
}

.footer-info .social {
  margin-bottom: 15px;
}

.footer-info .social a {
  background: #e9edfb;
  color: rgb(17 35 99 / 57%);
  line-height: 1;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.footer-info .social a:hover {
  background: #46b5ff;
  color: #fff;
}

.footer-info .social a i {
  font-size: 16px;
  line-height: 0;
}

/* FORM SECTION  */
.form-section {
  padding: 5rem 0;
}

/* font responsive */

@media (max-width: 768px) {
  #header #logo img{
    width: 80%;
  }
  h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
  }
  h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
  }
  h3 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
  }
  h4 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
  }
  h5 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }
  h6 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
  }
  .section_spacing{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  #main_tag .container{
    width: 95%;
  }
  #header .container{
    width: 95%;
  }
  footer .container{
    width: 95%;
  }
  .Book-btn, .Book-btn-outline{
    font-size: 12px;
    padding: 8px 16px;
  }
  #Contact{
    padding: 40px 0 0px 0;
  }
}