/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;

    /* background: linear-gradient(180deg, rgb(7 51 126) 40%, rgb(70 181 255 / 40%) 100%); */
    /* background: linear-gradient(rgb(0, 57, 94) 0%, rgb(0, 24, 40) 100%); */
    background: url(/assets/img/cosmic-environment-with-colorful-neon-laser-lights-perfect-digital-wallpaper.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 125px 0px;
    min-height: 630px;
}
/* #hero::before{
    filter: brightness(0.1) saturate(0%);
    -webkit-filter: brightness(0.6) saturate(0%);
    -webkit-filter: grayscale(70%);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url(/assets/img/cosmic-environment-with-colorful-neon-laser-lights-perfect-digital-wallpaper.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
#hero::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,.5);
    z-index: 1;
}
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    z-index: 1;
    z-index: 99;
}

@media (max-width: 786px) {
    #hero .hero-container {
        width: 100%;
    }

    #hero::after {
        width: 200%;
    }
}

.hero-label-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero-label-text p {
    position: relative;
    width: auto !important;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hero-label-text p::before {
    content: "";
    position: absolute;
    left: 105%;
    height: 2px;
    background-color: #47b5ff;
    width: calc(100vw - 85vw);
    top: 15px;
}

.hero-label-text p::after {
    content: "";
    position: absolute;
    right: 105%;
    height: 2px;
    background-color: #47b5ff;
    width: calc(100vw - 85vw);
    top: 15px;
}

#hero h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    line-height: 1.13;
    /* text-align: center; */
    letter-spacing: 0.03em;
    /* color: #0e1b4d; */
}

#hero h1 span {
    color: #47b5ff;
}

@media (max-width: 991px) {
    #hero h1 {
        font-size: 34px;
    }
}

#hero p {
    font-family: "Lexend Deca", sans-serif;
    color: #fff;
    font-size: 16px;
    width: 100%;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    opacity: 0.7;
    /* text-align: center; */
}

@media (max-width: 991px) {
    #hero p {
        font-size: 16px;
    }
}
#hero .Book-btn{
    border-color: #fff;
}
#hero .Book-btn:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}

.Contact-btn {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background-color: #47b5ff;
    border: 2px solid #47b5ff;
}

.Contact-btn:hover {
    border: 2px solid #47b5ff;
    color: #47b5ff;
    background-color: transparent;
}

@media (max-width: 516px) {
    #hero h1 {
        font-size: 28px;
    }

    #hero p {
        width: 100%;
        font-size: 14px;
    }

    #hero .Contact-btn,
    #hero .Book-btn {
        padding: 12px 20px;
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
  # video section
  --------------------------------------------------------------*/
/* #video_section-home {
    position: relative;
  }

  .Video_linkbox {
    position: relative;
    margin-top: -88px;
  } */
.intro-banner-vdo-play-btn {
    position: relative;
}

.Video_linkbox {
    position: relative;
    background: #47b5ff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 56px;
}

.Video_linkbox::before,
.Video_linkbox::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #47b5ff;
    border-radius: 50%;
}

.Video_linkbox::before {
    z-index: 0;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulse-border 1.5s ease-out infinite;
    animation: pulse-border 1.5s ease-out infinite;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
}

#video_section-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#video_section-home .play-btn {
    width: 80px;
    height: 80px;
    /* background: radial-gradient(#dff6ff 50%, rgba(71, 181, 255, 20%) 52%); */
    border-radius: 50%;
    display: block;
    position: absolute;
    overflow: hidden;
    margin: auto;
}

#video_section-home .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #06283d;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#video_section-home .play-btn:hover::after {
    border-left: 15px solid #47b5ff;
    transform: scale(20);
}

#video_section-home .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

/* new design css */
#what_is_clonos .row .content_wrapper{
    width: 45%;
    margin-left: auto;
}
#reduce_time .container{
    /* max-width: 1080px; */
    margin: auto;
}
#our_solutions{
    background: #f9fafa;
}
#our_solutions .container{
    /* max-width: 1080px; */
    margin: auto;
    /* background-color: #f6f9fc; */
    /* background: url(/assets/img/dot_pattern.svg) no-repeat;
    background-size: cover; */
}

#our_solutions .solution_wrapper .row {
    padding: 60px 0px;
    justify-content: center;
}
#our_solutions .solution_wrapper .row .solution_points ul{
    padding-left: 0;
    list-style: none;
    padding-top: 2rem;
    /* display: flex;
    flex-wrap: wrap; */
}
#our_solutions .solution_wrapper .row .solution_points ul li{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    /* width: 50%; */
}

#our_solutions .img_wrapper {
    border-radius: 20px;
    overflow: hidden;
}

#our_solutions .img_wrapper img {
    width: 100%;
    height: 100%;
}

#our_solutions .solution_wrapper .card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 2rem;
    justify-content: center;
}

#our_solutions .card_wrapper .solutions_cards {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    /* border: 1px solid rgb(0 0 0 / 20%); */
    /* box-shadow: 0px 0px 1.5965277777777778vw 0px rgba(0, 0, 0, 0.09); */
}

#our_solutions h2 {
    max-width: 1280px;
    margin: auto;
}


#our_solutions p {
    opacity: 0.7;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    #our_solutions .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    #what_is_clonos .row, #our_solutions .row{
        row-gap: 30px;
    }
    #our_solutions .solution_wrapper .row:nth-child(even) .content_wrapper{
        padding-left: 0;
    }
    #our_solutions .solution_wrapper .row:nth-child(odd){
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    #our_solutions .card_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    #our_solutions .solution_wrapper .card_wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    /* #our_solutions .solution_wrapper .row:nth-child(odd) .content_wrapper{
        padding-left: 0;
    } */
    #our_solutions .solution_wrapper .row{
        padding: 20px 0;
    }
    #what_is_clonos .container{
        padding: 0.5rem !important;
    }
}

/* what is clonos */
#what_is_clonos {
    /* background-color: #f6f9fc; */
}
#what_is_clonos .container{
    /* padding: 2rem; */
    /* background: #06337e0d; */
    /* border-radius: 2rem; */
    /* max-width: 1080px; */
    /* margin: auto; */
}
#what_is_clonos .content_wrapper p {
    opacity: 0.7;
    font-weight: 400;
}

#what_is_clonos .img_wrapper {
    border-radius: 30px;
    overflow: hidden;
}

/* how it works */
#how_it_works h1 {
    text-align: center;
}

#how_it_works .card_wrapper {
    margin-top: 56px;
}
#reduce_time .row{
    align-items: center;
}
#reduce_time .right_sec img{
    width: 100%;
}

@media (max-width:991px) {
    #what_is_clonos.section_spacing{
        padding-bottom: 0;
    }
    #what_is_clonos .row .content_wrapper,
    #our_solutions .solution_wrapper .row:nth-child(odd) .content_wrapper,
    #our_solutions .solution_wrapper .row:nth-child(even) .content_wrapper{
        width: 100%;
    }
}