#product_hero,
#products_facts,
#products_challenges {
    /* background-color: #06283d; */
    position: relative;

}

#product_hero {
    display: flex;
    align-items: center;
    min-height: 630px;
    /* background: linear-gradient(180deg, rgb(7 51 126) 40%, rgb(70 181 255 / 40%) 100%); */
    background: linear-gradient(rgb(0, 57, 94) 0%, rgb(0, 24, 40) 100%);
}

#product_hero .img_wrapper img{
    border-radius: 20px;
}
#product_hero .content_wrapper {
    width: 85%;
    margin-left: 0;
}
#product_hero .content_wrapper .btn_wrapper{
    width: 40%;
}

#product_hero .content_wrapper h1 {
    /* color: #06283d; */
    color: #fff;
}

#product_hero .content_wrapper p {
    /* color: #000; */
    color: #fff;
    opacity: 0.7;
}

#products_facts h2 {
    /* background: linear-gradient(180deg, #2b4e86 0%, #D24B5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #06337E;
}

#products_facts::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5px;
}
#products_facts{
    /* background: linear-gradient(rgb(0, 57, 94) 0%, rgb(0, 24, 40) 100%); */
}
#products_facts .content_wrapper p{
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* #D24B5A
#2b4e86 */
#products_challenges h2 {
    /* background: linear-gradient(180deg, #2b4e86 0%, #D24B5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #06337E;
}

#products_challenges .card_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 2rem;
    justify-content: center;
    margin-top: 56px;
}
#products_challenges.ar-assist .card_wrapper{
    grid-template-columns: repeat(3, 1fr);
}

#products_challenges .card_wrapper .challenge_cards {
    width: 100%;
    padding: 30px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}

#products_challenges .card_wrapper .challenge_cards h4 {
    position: relative;
    /* color: #f3791c; */
}

#products_challenges .card_wrapper .challenge_cards p {
    margin-bottom: 0;
    color: #4A4A68;
}


#products_solutions h2 {
    color: #06337E;
    /* background: linear-gradient(180deg, #2b4e86 0%, #D24B5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background: linear-gradient(220deg, rgba(110, 160, 203, 0.3) 6.78%, rgba(216, 223, 228, 0) 102.94%), rgb(255, 255, 255) */
    /* background: linear-gradient(rgb(0, 57, 94) 0%, rgb(0, 24, 40) 100%); */
}

#products_solutions .content_wrapper {
    width: 70%;
    margin: auto;
    text-align: center;
}

#products_solutions .card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 0rem;
    justify-content: center;
    margin-top: 56px;
}

#products_solutions .card_wrapper .solution_cards {
    width: 90%;
    margin: auto;
    min-height: 100%;
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 2rem;
    /* background-color: #fff; */
    /* border: 1px solid rgba(255, 255, 255, 0.2); */

    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}


#products_solutions .card_wrapper .solution_cards .sol_card_title {
    position: relative;
    background: #f7f7f7;
    border-radius: 14px 30px 14px 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 90px;
}
#products_solutions .card_wrapper .solution_cards .sol_card_title h4{
    margin-bottom: 0;
}

#products_solutions .card_wrapper .solution_cards p {
    margin-bottom: 0;
    color: #4A4A68;
}

/* #products_solutions .card_wrapper .solution_cards h4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    bottom: 0;
    height: 26px;
    width: 3px;
    border-radius: 3px;
    background: #06283d;
} */

#management_system .left_sec,
#compliance .left_sec {
    width: 45%;
    margin-right: auto;
}

#proactive_management .right_sec {
    width: 45%;
    margin-left: auto;
}

#management_system .list_points ul,
#proactive_management .list_points ul,
#compliance .list_points ul,
#training_tool .list_points ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 1rem;
}

#management_system .list_points ul li,
#proactive_management .list_points ul li,
#compliance .list_points ul li {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    align-items: center;
}
#training_tool .list_points ul li{
    margin-bottom: 1.5rem;
}
#management_system .list_points ul li p,
#proactive_management .list_points ul li p,
#compliance .list_points ul li p,
#training_tool .list_points ul li p {
    margin-bottom: 0;
}

#management_system .list_points ul li p b,
#proactive_management .list_points ul li p b,
#compliance .list_points ul li p b,
#training_tool .list_points ul li p b {
    /* font-weight: 600;
    background: linear-gradient(180deg, #2b4e86 0%, #D24B5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #06337E;
}

#management_system h2,
#proactive_management h2,
#compliance h2,
#training_tool h2 {
    /* background: linear-gradient(180deg, #2b4e86 0%, #D24B5A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #06337E;
}
#training_tool .list_points ul .img_wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 8px;
}
#training_tool .list_points ul .img_wrapper p{
    color: #06337E;
    font-weight: 500;
    font-size: 18px;

}

/* responsive */

@media (max-width: 991px) {
    #product_hero .content_wrapper{
        padding-bottom: 2rem;
    }
    #products_challenges .card_wrapper,
    #products_solutions .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    #management_system .left_sec,
    #compliance .left_sec {
        width: 100%;
        padding-bottom: 2rem;
    }

    #proactive_management .row {
        flex-direction: column-reverse;
    }

    #proactive_management .right_sec {
        width: 100%;
        padding-bottom: 2rem;
    }
}

@media (max-width:768px) {
    #products_solutions .card_wrapper .solution_cards .sol_card_title{
        min-height: unset;
    }
    #products_solutions .card_wrapper .solution_cards{
        min-height: unset;
    }
    #product_hero.vr_ots::before{
        background-size: cover;
    }
}

@media (max-width: 650px) {
    #product_hero .content_wrapper {
        width: 100%;
    }

    #products_challenges .card_wrapper,
    #products_challenges.ar-assist .card_wrapper,
    #products_solutions .card_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #products_solutions .content_wrapper {
        width: 100%;
    }

    #products_solutions .card_wrapper .solution_cards h4::before {
        top: -3px;
    }

    #management_system .list_points ul li p,
    #proactive_management .list_points ul li p,
    #compliance .list_points ul li p {
        font-size: 1rem;
        line-height: 1.3;
    }
    #management_system .list_points ul li img,
    #proactive_management .list_points ul li img,
    #compliance .list_points ul li img {
        width: 16px;
        height: 16px;
    }
}

/* seperate bg for hero section */
#product_hero.clonos_twin::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/products/Digital-twin-hero.jpeg) no-repeat;
    background-size: cover;
    filter: blur(18px);
}
#product_hero.ar_assits::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/products/AR-Hero.JPEG) no-repeat;
    background-size: cover;
    filter: blur(18px);
}
#product_hero.process_management::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/products/process-hero.jpeg) no-repeat;
    background-size: cover;
    filter: blur(18px);
}
#product_hero.saas_platform::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/products/Saas_platform.jpeg) no-repeat;
    background-size: cover;
    filter: blur(18px);
}
#product_hero.vr_ots::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/products/VR-Hero.JPEG) no-repeat;
    background-size: 150%;
    filter: blur(18px);
}
